@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("MyProfile", "Account")"><span class="glyphicon glyphicon-th-large"></span> Hello <strong>@User.Identity.Name</strong></a></li>
            <li><a href="@Url.Action("LogOut", "Account")"><span class="glyphicon glyphicon-log-out"></span> Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="@Url.Action("Login", "Account", new {returnUrl = Request.Url.LocalPath})"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
}
