@model Cinema.Web.Models.PersonAddEditViewModel

@{
    var operation = Model.Id > 0 ? "Edit" : "Create";
    ViewBag.Title = operation + " person";
}

<script src="~/Scripts/Custom/cusotm_validators.js"></script>
<script src="~/Scripts/Custom/person_create_edit.js"></script>

<div class="page-header">
    <h1>@operation person</h1>
</div>

@using (Html.BeginForm("CreateEdit", "Person", FormMethod.Post, new { @class = "form-horizontal", id = "person-create-edit-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("FormValidation")

    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Name, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-sm-4" })
        <span class="help-block col-sm-6 hidden" id="name-label">Person name is required. Check name for leading and trailing spaces.</span>

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Photo, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(x => x.Photo, new { @type = "file", @class = "col-sm-4" })
        <span class="help-block col-sm-6 hidden" id="file-label">Maximum size of posted file is 5 MB.</span>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="btn btn-success" type="button" value="@operation person" id="submit-btn"/>
        </div>
    </div>
}
<hr />
<div>
    @Html.ActionLink("< Back to person list", "Index")
</div>
