@model Cinema.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<script src="~/Scripts/Custom/cusotm_validators.js"></script>
<script src="~/Scripts/Custom/register.js"></script>

<div class="page-header">
    <h1>Register</h1>
</div>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", id="register-form"}))
{
    @Html.AntiForgeryToken()
    @Html.Partial("FormValidation")
    <div class="form-group">
        @Html.LabelFor(x => x.Username, new {@class = "control-label col-sm-2"})
        @Html.TextBoxFor(x => x.Username, new {@class = "form-control col-sm-4"})
        <span class="help-block col-sm-6 hidden" id="username-label">Minimum username length is 4 chars. Check username for leading and trailing spaces.</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email, new {@class = "control-label col-sm-2"})
        @Html.TextBoxFor(x => x.Email, new {@class = "form-control col-sm-4"})
        <span class="help-block col-sm-6 hidden" id="email-label">Email is not valid.</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Name, new {@class = "control-label col-sm-2"})
        @Html.TextBoxFor(x => x.Name, new {@class = "form-control col-sm-4"})
        <span class="help-block col-sm-6 hidden" id="name-label">Name is required. Check name for leading and trailing spaces.</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Surname, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control col-sm-4" })
        <span class="help-block col-sm-6 hidden" id="surname-label">Surname is required. Check surname for leading and trailing spaces.</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new {@class = "control-label col-sm-2"})
        @Html.PasswordFor(x => x.Password, new {@class = "form-control col-sm-4"})
        <span class="help-block col-sm-6 hidden" id="password-label">Minimum password length is 8 chars.</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PasswordConfirm, new {@class = "control-label col-sm-2"})
        @Html.PasswordFor(x => x.PasswordConfirm, new {@class = "form-control col-sm-4"})
        <span class="help-block col-sm-6 hidden" id="password-confirm-label">Passwords are not equal.</span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-success" value="Register" id="submit-btn"/>
        </div>
    </div>
}
