@model Cinema.Web.Models.UpdatePasswordViewModel

@{
    ViewBag.Title = "Update password";
}

<script src="~/Scripts/Custom/update_password.js"></script>

<div class="page-header">
    <h1>Update password</h1>
</div>
@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", id="update-password-form"}))
{
    @Html.AntiForgeryToken()
    @Html.Partial("FormValidation")
    @Html.HiddenFor(x => x.Token)
    <div class="form-group">
        @Html.LabelFor(x => x.Username, new { @class = "control-label col-sm-2" })
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control col-sm-4", @readonly="true"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label col-sm-2" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control col-sm-4" })
        <span class="help-block col-sm-6 hidden" id="password-label">Minimum password length is 8 chars.</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label col-sm-2" })
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control col-sm-4" })
        <span class="help-block col-sm-6 hidden" id="confirm-password-label">Passwords are not equal.</span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-success" value="Update password" id="submit-btn"/>
        </div>
    </div>
}